page-list {
    background-color:rgba(0,0,0,0.4) !important;
}

ion-scroll {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    font-size: 25px;
    color: white;
    text-align: center;
}